body {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 8px 24px;
    color: #E5E7EB;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}

h2 {
    margin:auto;
}

.content {
    display: flex;
    flex-direction: column;
    color: #1F2937;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.headerbody {
    display: flex;
    margin-top: 48px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.headerbody p{
    margin: 8px 0;
}

.left {
    display: flex;
    flex-direction: column;
}

button {
    width: 74px;
    flex-basis: auto;
    flex-grow: 0;
    background-color: #3882F6;
    color: white;
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    padding: 8px;

}